{% extends 'base.html' %}

{% block content %}
    <h1>Detalles de la Oportunidad: {{ oportunidad.titulo }}</h1>
    <p><strong>Estado:</strong> {{ oportunidad.get_estado_display }}</p>
    <p><strong>Descripción:</strong> {{ oportunidad.descripcion }}</p>
    <p><strong>Activo:</strong> {{ oportunidad.activo }}</p>
    <p><strong>Fecha de creación:</strong> {{ oportunidad.creado }}</p>
    {% if oportunidad.archivo_bases %}
        <p><strong>Archivo de Bases:</strong> <a href="{{ oportunidad.archivo_bases.url }}">Ver Archivo</a></p>
    {% endif %}
{% endblock %}
