{% extends 'base.html' %}

{% block content %}
    <h1>Listado de Postulaciones</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>CV</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for postulacion in postulaciones %}
                <tr>
                    <td>{{ postulacion.nombre }}</td>
                    <td>{{ postulacion.correo }}</td>
                    <td>{{ postulacion.telefono }}</td>
                    <td><a href="{{ postulacion.cv.url }}">Ver CV</a></td>
                    <td>{{ postulacion.creado }}</td>
                    <td><a href="{% url 'detalle_postulacion' postulacion.id %}">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_postulacion' %}">Crear Nueva Postulación</a>
{% endblock %}
