{% extends 'base.html' %}

{% block content %}
    <h1>Oportunidades de Trabajo</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for oportunidad in oportunidades %}
                <tr>
                    <td>{{ oportunidad.titulo }}</td>
                    <td>{{ oportunidad.get_estado_display }}</td>
                    <td>{{ oportunidad.activo }}</td>
                    <td>{{ oportunidad.creado }}</td>
                    <td><a href="{% url 'detalle_oportunidad' oportunidad.id %}">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_oportunidad' %}">Crear Nueva Oportunidad</a>
{% endblock %}
