.menu-item {
    width: 100%;
    padding: 12px;
    text-align: left;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border-color 0.3s, transform 0.3s;
  }
  
  .menu-item:hover {
    border-color: #3b82f6; 
    transform: scale(1.02);
  }
  
  .carousel-image {
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    transition: transform 0.5s ease;
  }
  
 
  .tooltip {
    position: absolute;
    left: calc(25% + 10px); 
    top: 0;
    z-index: 10;
    width: 250px;
  }
  
  .tooltip-content {
    position: relative;
    margin-top: 64px;
  }
  
  .close-tooltip {
    cursor: pointer;
  }
  

  @media (max-width: 640px) {
    .carousel-image {
        height: 600px; 
    }
  }
  