<!-- ================================================================
Archivo: proyectos/muestra_form.html
Descripción: Formulario para crear o editar una Muestra.
================================================================ -->
{% extends "base_vicafpro.html" %}

{% block title %}
    {% if form.instance.pk %}Editar Muestra{% else %}Crear Muestra{% endif %}
{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-8 shadow-xl rounded-xl">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">
        {% if form.instance.pk %}Editar Muestra{% else %}Crear Muestra{% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {{ form.as_p }}
        </div>
        <div class="flex justify-center space-x-4 mt-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'proyectos:muestra_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}
