{% extends 'base.html' %}
{% block content %}
    {% include 'header.html' %}
    <div>
        {% include 'inicio/inicio.html' %}
    </div>
    <div>
        {% include 'nosotros/nosotros.html' %}
    </div>
    <div>
        {% include 'servicios/servicios.html' %}
    </div>
    <div>
        {% include 'clientes/clientes.html' %}
    </div>
    <div>
        {% include 'contactenos/contactenos.html' %}
    </div>
    <div>
        {% include 'bolsa_trabajo/bolsa_trabajo.html' %}
    </div>
    <div>
        {% include 'footer.html' %}
    </div>
    
   
{% endblock %}
