{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
<div>
    {% include 'inicio/inicio.html' %}
</div>
<div>
    {% include 'nosotros/nosotros.html' %}
</div>
<div id="equipo">
    {% include 'trabajadores/trabajadores.html' %}
</div>  
<div>
    {% include 'servicios/servicios.html' %}
</div>
<div id="clientes">
    {% include 'clientes/clientes.html' %}
</div>
<div>
    {% include 'contactenos/contactenos.html' %}
</div>
<div id="bolsa_trabajo" >
    {% if oportunidades %}
        <div>
            {% include 'bolsa_trabajo/bolsa_trabajo.html' %}
        </div>
    {% endif %}
</div>
<div>
    {% include 'footer.html' %}
</div>


{% endblock %}